ion-range {
  --color: "success";
}
ion-header{
  max-width:100%;
}
ion-split-pane {
  --side-max-width: 250px;
}
ion-label {
  z-index: 10;
}
.drum-all {
  --ion-grid-width: 80%;
  max-width: 80%;
}
.drum-bar {
  --padding-start: 5%;
  --padding-end: 5%;
}

.fz-btn {
  --border-radius: 50px;
  --border-style: solid;
  --border-color: black;
  --border-width: 2px;
  --box-shadow: 2px 2px #000000;
  --transition: 0.5s;
  --color: black;
  margin-left: 5px;
}


.fz-btn:hover {
  transform: scale(1.1);
  z-index: +10;
}
.activeBtn {
  transform: scale(1.5);
  margin-left: 10%;
}

.addMargin {
  margin-left: 10%;
}

.animateDelay {
  transform: 1s;
}

#myOscilloscope{
  width:80%;
  height: 44px;
  background-color: white;
  margin-left:auto;

  margin-right:15px;
  border-radius:10px;
  border: solid black 2px;
  display: flex;
  transform: scaleY(-1);
  transition: 1s;
  max-width: 60%;
  
}
#myOscilloscope:hover{
  height: 160px;
  transform: scaleY(-1) scaleX(1.6) translateX(-20%);
}
#FScope:hover{
  transform: scaleY(-1) scaleX(1.6) translateX(20%);
  height: 160px;
}
#FScope{
  z-index: 1000;
  width:400px;
  height: 100px;
  background-color: white;
  margin-left:1%;

  //margin-right:15px;
  border-radius:10px;
  border: solid black 2px;
  display: flex;
  transform: scaleY(-1);
  transition: 1s;
  max-width: 60%;
}
.page-title{
  margin-left: 5%;
}

.fz-add-padding{
  display: flex;
  flex-direction: row;
  flex-basis:50px;
  flex-grow:1;
  flex-shrink:1; 
  margin-right: 15px;
  padding-right: 20px;
}