ion-range{
    --color: 'success';
}


.drum-all{
    --ion-grid-width:80%;
    max-width: 80%;
    
}
.drum-bar{
   --padding-start: 5%;
   --padding-end: 5%;
}
.drum-title{
    
}

.fz-btn{
    --border-radius: 50px;
    --border-style:solid;
    --border-color: black;
    --border-width: 2px;
    --box-shadow: 2px 2px #000000;
    --transition: 0.5s;
    --color:black;
}

.fz-btn:hover{
    transform: scale(1.1);
    z-index: +10;
}